:root {
  --color-background: #232946;
  --color-text: #fffffe;
  --color-paragraph: #b8c1ec;
  --color-botton: #eebbc3;
  --color-botton-text: #232946;
  --border-radius: 15px;
}

body {
  width: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.display {
  font-size: 30px;
}
.calculator-container {
  /* height: 100vh;
  width: 150px;
  border: 2px solid var(--color-botton); */
  /* flex-direction: column; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  /* background-color: var(--color-paragraph); */
}

.number-container,
.operator-container,
.solve-container {
  font-size: 20px;
  height: 40px;
  width: 40px;
  padding: 5px;
  color: var(--color-botton-text);
  background-color: var(--color-botton);
  /* border: 2px solid var(--color-botton); */
  border: none;
  border-radius: var(--border-radius);
  justify-content: center;
  align-content: center;
}

.is-active {
  background-color: var(--color-paragraph);
}
