:root {
  --color-background: #232946;
  --color-text: #fffffe;
  --color-paragraph: #b8c1ec;
  --color-botton: #eebbc3;
  --color-botton-text: #232946;
  --border-radius: 15px;
}

body {
  font-size: 25px;
  width: 100%;
  height: 100vh;
  color: var(--color-text);
  background: linear-gradient(
    to bottom right,
    var(--color-paragraph),
    var(--color-botton)
  );
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

h1 {
  margin: 30px 0 20px 0;
}

.cloud1 {
  background: url("/assets/images/freepik_cloud_credit-starline_640px.png");
  z-index: -1;
  width: 640px;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  animation: move;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-640px);
  }
}

.cloud2 {
  background: url("/assets/images/freepik_cloud_credit-starline_640px.png");
  z-index: -1;
  width: 640px;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  animation: move2;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move2 {
  from {
    transform: translateX(600px);
  }
  to {
    transform: translateX(-640px);
  }
}

.display {
  font-size: 50px;
}

.calculator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  z-index: 2;
}

.number-container,
.operator-container,
.solve-container {
  font-size: 40px;
  height: 80px;
  width: 80px;
  padding: 5px;
  margin: 5px;
  color: var(--color-text);
  background-color: var(--color-botton);
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
}

.keys-container {
  padding: 20px 50px;
}

.is-active {
  background-color: var(--color-paragraph);
}

@media screen and (max-width: 600px) {
  .cloud1 {
    /* background: url("/assets/images/freepik_cloud_credit-starline_640px.png");
    z-index: -1;
    width: 640px;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    animation: move;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    overflow: hidden;
  }

  /* @keyframes move {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-640px);
    }
  } */

  .display {
    font-size: 45px;
  }

  .number-container,
  .operator-container,
  .solve-container {
    font-size: 35px;
    height: 70px;
    width: 70px;
    /* padding: 5px;
    margin: 5px; */
    /* color: var(--color-text);
    background-color: var(--color-botton);
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-content: center; */
  }
}
